<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image XPert by Enonic</title>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/main.css'})}" type="text/css"/>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/upload.css'})}" type="text/css"/>
    <script type="text/javascript">
        function toggleLayers() {
            document.querySelector(".main-container").classList.toggle("hidden");
            document.querySelector(".upload-container").classList.toggle("hidden");
        }
        function previewImage(event) {
            var previewEl = document.querySelector('.upload-container .image-preview');
            previewEl.style.display = "block";
            previewEl.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</head>

<body data-portal-component-type="page" data-th-class="${editable}? 'edit'">
<div class="background-image" data-th-style="${backgroundImageStyle}"></div>
<div id="mainRegion" data-portal-region="main">
    <div data-th-if="${reqContent.page.regions['main']}" data-th-remove="tag">
        <div data-th-each="component : ${reqContent.page.regions['main'].components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag"></div>
        </div>
    </div>
</div>
</body>
</html>