<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image XPert by Enonic</title>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/inline.css'})}" type="text/css"/>

    <link rel="apple-touch-icon" sizes="57x57" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-57x57.png'})}">
    <link rel="apple-touch-icon" sizes="60x60" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-60x60.png'})}">
    <link rel="apple-touch-icon" sizes="72x72" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-72x72.png'})}">
    <link rel="apple-touch-icon" sizes="76x76" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-76x76.png'})}">
    <link rel="apple-touch-icon" sizes="114x114" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-114x114.png'})}">
    <link rel="apple-touch-icon" sizes="120x120" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-120x120.png'})}">
    <link rel="apple-touch-icon" sizes="144x144" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-144x144.png'})}">
    <link rel="apple-touch-icon" sizes="152x152" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-152x152.png'})}">
    <link rel="apple-touch-icon" sizes="180x180" data-th-href="${portal.assetUrl({'_path=img/icons/apple-icon-180x180.png'})}">

    <link rel="icon" type="image/png" sizes="192x192" data-th-href="${portal.assetUrl({'_path=img/icons/android-icon-192x192.png'})}">
    <link rel="icon" type="image/png" sizes="32x32" data-th-href="${portal.assetUrl({'_path=img/icons/favicon-32x32.png'})}">
    <link rel="icon" type="image/png" sizes="96x96" data-th-href="${portal.assetUrl({'_path=img/icons/favicon-96x96.png'})}">
    <link rel="icon" type="image/png" sizes="16x16" data-th-href="${portal.assetUrl({'_path=img/icons/favicon-16x16.png'})}">

    <link rel="manifest" data-th-content="${portal.assetUrl({'_path=img/icons/manifest.json'})}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" data-th-content="${portal.assetUrl({'_path=img/icons/ms-icon-144x144.png'})}">
    <meta name="theme-color" content="#ffffff">


    <!--<link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/main.css'})}" type="text/css"/>-->
    <!--<link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/newalbum.css'})}" type="text/css"/>-->
    <script type="text/javascript" data-th-src="${portal.assetUrl({'_path=js/main.js'})}"></script>



    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var renameAlbumServiceUrl = /*[[${renameAlbumServiceUrl}]]*/;
        var searchPageUrl = /*[[${searchPageUrl}]]*/;

        window.onload = initApp.bind(this, /*[[${albumId}]]*/);
        /*]]>*/
    </script>
</head>

<body data-portal-component-type="page" data-th-class="${editable}? 'edit'">
<header class="header">
    <h1 class="header__title">Image XPert</h1>
    <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
    <button id="butAdd" class="headerButton" aria-label="Add"></button>
</header>

<main class="main">

<!-- <div class="background-image" data-th-style="${backgroundImageStyle}"></div>
<div class="background-opacity"></div>
    <img id="ixp-spinner" data-th-src="${spinnerUrl}" />-->
    <input type="hidden" id="albumId" value="">
    <div id="mainRegion" data-portal-region="main">
        <div data-th-if="${reqContent.page.regions['main']}" data-th-remove="tag">
            <div data-th-each="component : ${reqContent.page.regions['main'].components}" data-th-remove="tag">
                <div data-portal-component="${component.path}" data-th-remove="tag"></div>
            </div>
        </div>
    </div>
</main>


<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">Add new album</div>
        <div class="dialog-body">
            <input name="albumName" type="text" placeholder="Title" onkeyup="validateForm()">
        </div>
        <div class="dialog-buttons">
            <button id="butAddAlbum" class="button">Add</button>
            <button id="butAddCancel" class="button">Cancel</button>
        </div>
    </div>
</div>

<div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
</div>

</body>
</html>