<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image XPert by Enonic</title>
<!--
    <base href="http://localhost:8080/portal/master/image-xpert/">-->

    <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-icon-180x180.png">

    <link rel="icon" type="image/png" sizes="192x192" href="img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="manifest" content="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <!--
    <link rel="stylesheet" href="css/newalbum.css" type="text/css"/>

-->
    <link rel="stylesheet" href="css/inline.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css" type="text/css"/>
    <link rel="stylesheet" href="css/material.css" type="text/css"/>

    <script type="text/javascript" src="js/material.js"></script>

    <script type="text/javascript" src="js/main.js"></script>

    <script type="text/javascript">
        if (document.location.href.endsWith('{{baseUrl}}') && !document.location.href.endsWith('/')) {
            document.location = document.location.href + "/";
        }
        var urlConfig = {
            createAlbumUrl: '{{createAlbumUrl}}',
            loadAlbumsUrl: '{{loadAlbumsUrl}}',
            renameAlbumServiceUrl: '{{renameAlbumUrl}}',
            searchPageUrl: '{{searchPageUrl}}',
            assetUrl: '{{assetUrl}}'
        };
    </script>
</head>

<body>
<header class="header">
    <h1 id="header_title" class="header__title">Image XPert</h1>

    <div id="search-field" class="search-button mdl-layout-search mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
        <label id="butSearch" class="mdl-button mdl-js-button mdl-button--icon js-search-button" for="search-field-input" data-search-url="/search/">
            <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <form role="search" action="/search/" method="get">
                <input class="mdl-textfield__input" type="text" name="q" id="search-field-input">
            </form>
        </div>
    </div>
    <div class="add-button mdl-layout-search mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label id="butAdd" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
        </label>
    </div>
<!--
    <button id="butSearch" class="headerButton" aria-label="Search" title="Search"></button>

    <button id="butAdd" class="headerButton" aria-label="Add" title="Add album"></button>
    -->
</header>

<main class="main-container">

<!-- <div class="background-image" data-th-style="${backgroundImageStyle}"></div>
<div class="background-opacity"></div>
    <img id="ixp-spinner" data-th-src="${spinnerUrl}" />-->
    <div id="browse-albums">
        {{#albums}}
        <div class="album">
            {{#imageUrl}}
            <a href="#" onclick="return ixp.openAlbum('{{albumId}}');"><div class="image-stack {{stackType}}"><img src="{{imageUrl}}"></div></a>
            {{/imageUrl}}
            {{^imageUrl}}
            <div class="empty-album"></div>
            {{/imageUrl}}
            <div class="album-name">
                <p id="album-name-span-{{albumId}}" class="album-name-span" onclick="ixp.editAlbumName('{{albumId}}');">{{displayName}}</p>
                <input id="album-name-input-{{albumId}}" type="text" class="album-name-input" value="{{displayName}}">
            </div>
        </div>
        {{/albums}}
        <input type="hidden" id="albumId" value="">
    </div>
    <div id="browse-images"></div>

</main>


<div class="dialog-container">
    <div class="dialog">
        <form id="new-album-form" action="{{createAlbumUrl}}" method="post" enctype="multipart/form-data">
            <input name="albumName" type="hidden">

            <input name="file" type="file" multiple="multiple" accept="image/*" style="display: none;" onchange="ixp.createNewAlbum();">

        </form>
            <div class="dialog-title">Add new album</div>
            <div class="dialog-body">
                <input id="dialog-input" class="dialog-input" name="new-album-name" type="text" placeholder="Title">
            </div>

            <div class="dialog-buttons">
                <button id="butAddCancel" class="button mdl-button">Cancel</button>
                <button id="butAddAlbum" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect" disabled>Add images</button>
            </div>
    </div>
</div>

<div id="notification_snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<!--
<div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
</div>
-->

<!--<script type="text/javascript" src="js/app.js"></script>

<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
                .register('service-worker.js')
                .then(function(reg) {
                    console.log('Service Worker registered with scope '  + reg.scope);
                }, function() {
                    console.log('Service Worker registration failure.');
                });
    }
    -->
</script>
</body>
</html>