.download-container {
    opacity: 0;
    pointer-events: none;
    z-index: 30;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    height: 325px;
    width: 600px;
    padding: 20px;
    left: 50%;
    top: 50%;
    margin-left: -330px;
    margin-top: -200px;
    background-color: rgba(51, 51, 51, 0.85);
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, visibility 0.5s linear;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s linear;
}

#mainRegion.download .download-container{
    opacity: 1;
    pointer-events: auto;
}

.download-container h2 {
    margin-left: 10px;
}
.download-container button {
    padding: 10px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.download-container div.text-input {
    margin-right: 15px;
}

.download-container label {
    line-height: 50px;
    color: darkgray;
}
.download-container input[type="text"] {
    height: 25px;
    font-size: 14px;
    width: 45px;
    padding-left: 4px;
}

.download-container .button-toolbar {
    text-align: right;
    margin-top: 50px;
}

.download-container .button-toolbar .download-button {
    margin-right: 15px;
    font-weight: bold;
}

.download-container .button-toolbar button {
    padding: 8px;
}

.fieldset-container {
    display: flex;
}

.fieldset-container fieldset {
    width: 50%;
    padding: 5px 20px 10px 25px;
}

.fieldset-container fieldset legend {
    font-size: 16px;
    color: darkgray;
}

.fieldset-container .size-text {
    margin-left: 28px;
}

.fieldset-container fieldset label input {
    float: left;
    height: 43px;
    margin-right: 7px;
}

.fieldset-container fieldset:first-child {
    margin-right: 15px;
}

.download-container .size-container {
    display: table;
    width: 240px;
}

.download-container .size-container > div {
    display: table-cell;
}

.download-container .size-container .input-size-label {
    white-space: nowrap;
}

.download-container .size-container .input-size {
    text-align: center;
    width: 85px;
}

.download-container .size-container .input-size span {
    font-size: 12px;
    color: darkgray;
}

.download-container .size-container .input-size-label input {
    position: absolute;
    left: 50px;
}

.download-container .size-container .input-size-label {
    padding-left: 25px;
}