.gallery-header {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    width: 100%;
    text-align: left;
    background-color: #333333;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    padding: 0 57px;
}

.gallery-header-container {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo-container:hover, .upload-icon:hover, .search-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.upload-icon, .search-icon {
    opacity: 0.8;
    width: 24px;
    outline: none;
}

.logo-container {
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    min-width: 120px;
    width: 10%;
    opacity: 0.8;
}

.logo-container a {
    color: white;
    text-decoration: none;
    float: left;
    display: block;
    fill: #fff;
    transition: opacity 150ms ease-in-out;
    font-weight: 900;
    font-size: 2vw;
}

@media only screen and (max-width: 768px) {
    .logo-container a {
        font-size: 18px;
    }
}

.select-album-container {
    padding: 0;
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.search-and-upload-container {
    display: table-cell;
    width: 25%;
    text-align: right;
    vertical-align: middle;
    padding-top: 5px;
}

.search-container {
    position: absolute;
    right: 50px;
    top: 15px;
}

.search-container form {
    position: absolute;
    top: -3px;
    right: -3px;
    display: none;
}

.search-container .search-input {
    padding: 0.4em;
    padding-right: 2em;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333333;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.search-container .search-button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    background-size: 100%;
    border: none;
    cursor: pointer;
    outline: none;
}

.gallery-body {
    max-width: 1200px;
    margin-top: 80px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-image-figure {
    width: 100%;
    margin: 0 0 40px 0;
}

.gallery-image-figure .image-caption {
    display: table;
    white-space: nowrap;
}

.gallery-image-figure .image-caption em {
    width: 100%;
    text-align: right;
    display: table-cell;
}

.gallery-image {
    width: 100%;
}

.gallery-search {
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.upload-success {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: none;
    opacity: 1;
}

.upload-success p {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -140px;
    color: black;
    font-size: 24px;
}

.upload-success.visible {
    display: block;
    animation: fadeOut 3s;
    -webkit-animation: fadeOut 3s;
    -moz-animation-name: fadeOut;
    -moz-animation-duration: 3s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.album-name {
    color: white;
    font-size: 32px;
    margin: 0;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .album-name {
        font-size: 24px;
    }
    .gallery-header {
        padding: 0 23px;
    }
    .gallery-body {
        padding: 0 15px;
    }
    .upload-icon, .search-icon {
        width: 18px;
    }
    .search-container {
        right: 35px;
    }
    .search-container .search-button {
        width: 18px;
        height: 18px;
    }
    .search-container .search-input {
        font-size: 12px;
    }
}

@media only screen and (max-width: 420px) {
    .album-name {
        font-size: 18px;
    }
}

@media only screen and (max-width: 560px) {
    .logo-container {
        display: none;
    }
    .album-name {
        text-align: left;
    }
}