body {
    margin: 0;
    height: 100%;
    font-family: Courier, monospace;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #111111;
    background-color: #ffffff;
}

.main-container {
    overflow: hidden;
    position: relative;
    min-height: 460px;
    background-color: rgba(248, 248, 248, 0.85);
    height: 100%;
    width: 100%;
    color: #ffffff;
}

#mainRegion.download .main-container .image-placeholder,
#mainRegion.info .main-container .image-placeholder {
    -webkit-filter: blur(5px);
    pointer-events: none;
}

.image-placeholder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: scale(1.01);
}

.fake-image {
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.image-info-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
    transform: translateY(0);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, visibility 0.5s linear;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s linear;
}

#mainRegion.info .image-info-container {
    opacity: 1;
}

.image-info-vertical-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.image-info-vertical-cell {
    display: table-cell;
    vertical-align: middle;
}

.image-meta-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    margin-top: -100px;
}

.image-row {
    height: 100px;
}

.image-row.map {
    height: 300px;
}

.image-info-column:first-child {
    margin-left: 30%;
}

@media only screen and (max-width: 768px) {
    .image-info-column:first-child {
        margin-left: 35px;
    }
}

.image-info-column {
    width: 25%;
    margin-top: 15px;
    float: left;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .image-info-column {
        width: 43%;
        overflow: hidden;
    }
}

.image-caption {
    width: 50%;
    margin-left: 30%;
    margin-bottom: 50px;
    position: relative;
}

.image-caption h1 {
    font-family: Courier, monospace;
    font-size: 28px;
    font-weight: 400;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 50px;
}
.image-caption img {
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
    width: 25px;
}
.image-caption img:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
    .image-caption  {
        width: 100%;
        margin-left: 35px;
    }
}

#mainRegion.edit .image-caption img{
    display: none;
}

.image-info-heading {
    color: #e6e6e6;
    opacity: 0.8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-size: 11px;
    line-height: 15px;
}

.image-info-meta {
    font-family: Courier, monospace;
    font-size: 15px;
    line-height: 24px;
    margin-top: 3px;
    font-weight: 400;
    color: white;
}

.image-info-overlay-gradient {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 8;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, transparent 30%, transparent 70%, rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, transparent 30%, transparent 70%, rgba(0,0,0,0.7) 100%);
}

#mainRegion.info .image-info-overlay {
    opacity: 1;
}

.image-info-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 8;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out, visibility 0.5s linear;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s linear;
}

.image-location {
    width: 500px;
    height: 300px;
    margin: auto;
    border: 3px solid white;
}

@media only screen and (max-width: 768px) {
    .image-location {
        height: 200px;
        width: 80%;
    }
}

.image-header {
    position: fixed;
    width: 100%;
    top: 18px;
    z-index: 20;
}

.icon-close {
    display: none;
}

#mainRegion.download .image-header-icons {
    display: none;
}

#mainRegion.info .icon-info,
#mainRegion.info .icon-download {
    display: none;
}

#mainRegion.info .icon-close {
    display: block;
}

.image-header .image-header-icons img {
    position: absolute;
    cursor: pointer;
}

.image-header .image-header-icons .icon-info {
    width: 36px;
    right: 19px;
}

.image-header .image-header-icons .icon-download {
    width: 40px;
    right: 80px;
}

.image-header .image-header-icons .icon-close {
    width: 30px;
    right: 22px;
    top: 3px;
}

@media only screen and (max-width: 768px) {
    .image-header .image-header-icons .icon-download {
        display: none;
    }
}

.image-header .image-header-icons img:hover {
    opacity: 0.7;
}