/* GENERAL */
* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-weight: 400;
    font-display: optional;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    overflow: hidden;
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    background: #ececec;
}

.mdl-snackbar {
    z-index: 300;
}

/* HEADER */

.header {
    width: 100%;
    height: 56px;
    color: #FFF;
    background: #3F51B5;
    position: fixed;
    font-size: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 14px 16px 0 16px;
    will-change: transform;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
    z-index: 1000;
}

.header__title {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    margin-left: 45px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header .mdl-layout__drawer-button {
    margin: 4px;
    color: white;
    line-height: 54px;
}

.header .mdl-textfield--expandable .mdl-button--icon {
    top: 0;
    bottom: 0;
    opacity: 0.54;
}

.header #back-button {
    display: none;
    position: absolute;
    top: 8px;
    left: 8px;
}

.main-container.search-results .header #back-button {
    display: block;
}

.header #back-button .material-icons {
    font-size: 32px;
    left: 35%;
}

.header #butAdd .material-icons {
    font-size: 30px;
    top: 49%;
    left: 42%;
}

.header #butSearch .material-icons {
    top: 50%;
}

.header #search-field {
    padding: 3px;
}

.header .search-field.is-focused .mdl-textfield__expandable-holder {
    min-width: 250px;
}

@media screen and (max-width: 540px) {
    .header__title {
        font-size: 16px;
        line-height: 30px;
        margin-left: 35px;
    }

    .header .search-button.mdl-textfield {
        max-width: 170px;
    }

    .mdl-textfield__expandable-holder {
        min-width: 0;
    }

    .header .add-button {
        padding-right: 30px;
    }

    .header .mdl-layout__drawer-button {
        margin: 4px 0;
    }
    .dialog {
        left: 47%;
    }
}


/* DIALOG */

.dialog-container {
    background: rgba(0, 0, 0, 0.57);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1); }

.dialog-container--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
}

.dialog {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
    min-width: 280px;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%) translateY(30px);
    transform: translate(-50%, -50%) translateY(30px);
    -webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
    transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
    transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
    transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s, -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s; }

.dialog > div {
    padding-left: 24px;
    padding-right: 23px; }

.dialog-title {
    padding-top: 20px;
    font-size: 1.25em; }

.dialog-body {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 19px; }
.dialog-body select {
    width: 100%;
    font-size: 2em; }

.dialog-buttons {
    padding: 8px !important;
    float: right;
}

/* ALBUMS/IMAGES CONTAINER */

.main-container {
    position: relative;
    padding: 60px 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    background-color: lightgray;
}

#browse-albums.slide-out {
    animation: slide-out-left 0.5s forwards;
    -webkit-animation: slide-out-left 0.5s forwards;
}

#browse-albums.slide-in {
    animation: slide-in-right 0.5s forwards;
    -webkit-animation: slide-in-right 0.5s forwards;
}

#browse-images.slide-out {
    animation: slide-out-right 0.5s forwards;
    -webkit-animation: slide-out-right 0.5s forwards;
}

#browse-images.slide-in {
    animation: slide-in-left 0.5s forwards;
    -webkit-animation: slide-in-left 0.5s forwards;
}
@keyframes slide-in-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in-left {
    0% { transform: translateX(100%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-in-right {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in-right {
    0% { transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out-left {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out-right {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

#browse-albums, #browse-images {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 60px;
}

#browse-albums, #browse-images .browse {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#browse-images h6 {
    text-align: center;
}
.album {
    /*padding: 30px 50px 10px 50px;*/
    padding: 30px 40px;
}

#browse-images {
    width: 100%;
}

#browse-images .album {
    width: 260px;
    padding: 0;
    margin: 10px 28px 0px 28px;
}

#browse-images .album a img {
    width: 250px;
    height: 250px;
    background: url('../img/spinner.svg') no-repeat center center;
    cursor: pointer;
    pointer-events: all;
}

.main-container #browse-albums .album .image-stack:hover img,
.main-container .image-stack:hover:before, .main-container .image-stack:hover:after {
    border-color: #a9a6a6;
}

#browse-albums .album img:first-child {
    border: 6px solid #FFFFFF;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#browse-images .album img:first-child {
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
}

.album img:first-child ~ img {
    display: none;
}

.image-stack {
    position: relative;
    z-index: 100;
}

.image-stack:before, .image-stack:after {
    content: "";
    height: 175px;
    width: 175px;
    border: 6px solid #FFFFFF;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-stack:before {
    background-color: #eff4de;
}

.image-stack:after {
    top: 0;
    left: 0;
    background-color: #768590;
}

.stack-type-1:before {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.stack-type-1:after {
    top: -4px;
    background-color: #768590;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
}

.stack-type-2:before {
    top: 4px;
    left: -10px;
}

.stack-type-2:after {
    top: 3px;
    left: -11px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.stack-type-3:before {
    top: 5px;
    left: -15px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.stack-type-3:after {
    top: -2px;
    left: -10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.stack-type-4:before {
    top: -3px;
    right: -12px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
}

.stack-type-4:after {
    top: -2px;
    left: -10px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}

.stack-type-5:before {
    top: 16px;
    left: 20px;
}

.stack-type-5:after {
    top: 8px;
    left: 10px;
}

.album-name {
    margin-top: 30px;
    text-align: left;
    position: relative;
}

.album-name-span {
    cursor: pointer;
    padding: 3px 0 0 4px;
    display: inline-block;
    margin: 0;
    opacity: 1;
    transition: opacity 500ms;
    text-transform: capitalize;
    font-size: 20px;
}

.album-name-span.invisible {
    opacity: 0;
    pointer-events: none;
}

.album-name-input {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
    font-family: 'Helvetica', 'Verdana', sans-serif;
}

.album-name-input.visible {
    opacity: 1;
    pointer-events: all;
    padding-left: 1px;
}

.dialog-input {
    font-size: 2em;
}

.dialog-container.select-files .dialog {
    display: none;
}

.image-caption {
    text-transform: capitalize;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    position: relative;
    padding: 7px 0 0 20px;
    color: white;
    font-style: italic;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.image-caption-span {
    margin: 0;
    color: gainsboro;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#album-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 4px;
}


@media screen and (max-width: 540px) {
    #browse-albums .album {
        padding: 15px 30px;
    }
    #browse-albums .album img {
        width: 125px;
        height: 125px;
    }

    #browse-albums .image-stack:before, #browse-albums .image-stack:after {
        display: none;
    }

    #browse-albums .album-name {
        margin-top: 15px;
    }
}

@media screen and (min-width: 540px) and (max-width: 768px) {
    #browse-albums .album {
        padding: 35px 30px;
    }
}
@media screen and (max-width: 768px) {
    #browse-albums, #browse-images .browse {
        justify-content: center;
    }
}