<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image XPert / Download</title>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/image.css'})}" type="text/css"/>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/download.css'})}" type="text/css"/>
    <script type="text/javascript" data-th-src="${portal.assetUrl({'_path=js/download.js'})}"></script>

    <script type="text/javascript">
        var imgPlaceholder;

        var scaleImage = debounce(function() {
            if (imgPlaceholder) {
                var img = document.querySelector(".fake-image");
                var imgUrl = imgPlaceholder.getAttribute("data-src").replace("block-1-1", "block-" + window.innerWidth + "-" + window.innerHeight);
                img.src = imgUrl;
            }
        }, 150);

        window.onload = function() {
            imgPlaceholder = document.querySelector(".image-placeholder");

            loadImage();
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var updateMetaServiceUrl = /*[[${updateMetaServiceUrl}]]*/;
        /*]]>*/
    </script>
</head>

<body data-portal-component-type="page" data-th-class="${editable}? 'edit'" onresize="loadImage()">
<div id="mainRegion" data-portal-region="main">
    <div data-th-if="${reqContent.page.regions['main']}" data-th-remove="tag">
        <div data-th-each="component : ${reqContent.page.regions['main'].components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag"></div>
        </div>
    </div>
</div>
</body>
</html>