<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Image XPert / Download</title>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/image.css'})}" type="text/css"/>
    <link rel="stylesheet" data-th-href="${portal.assetUrl({'_path=css/download.css'})}" type="text/css"/>

    <script type="text/javascript">
        var imgPlaceholder;
        function toggleLayers() {
            document.querySelector(".main-container").classList.toggle("hidden");
            document.querySelector(".image-info-container").classList.toggle("hidden");
            document.querySelector(".download-container").classList.toggle("hidden");
        }
        function debounce(func, wait) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    func.apply(context, args);
                };
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        }

        function syncImage() {
            if (imgPlaceholder) {
                var img = document.querySelector(".fake-image");
                imgPlaceholder.style["background-image"] = "url('" + img.getAttribute("src") + "')";
            }
        }

        function syncImageSize() {
            if (imgPlaceholder) {
                imgPlaceholder.style["width"] = window.innerWidth + "px";
                imgPlaceholder.style["height"] = window.innerHeight + "px";
            }
        }

        function loadImage() {
            syncImageSize();
            scaleImage();
        }

        var scaleImage = debounce(function() {
            if (imgPlaceholder) {
                var img = document.querySelector(".fake-image");
                var imgUrl = imgPlaceholder.getAttribute("data-src").replace("block-1-1", "block-" + window.innerWidth + "-" + window.innerHeight);
                img.src = imgUrl;
            }
        }, 150);

        window.onload = function() {
            imgPlaceholder = document.querySelector(".image-placeholder");

            loadImage();
        }
    </script>
</head>

<body data-portal-component-type="page" data-th-class="${editable}? 'edit'" onresize="loadImage()">
<div id="mainRegion" data-portal-region="main">
    <div data-th-if="${reqContent.page.regions['main']}" data-th-remove="tag">
        <div data-th-each="component : ${reqContent.page.regions['main'].components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag"></div>
        </div>
    </div>
</div>
</body>
</html>